doctype 5
/[if lt IE 7]
  | <html class="ie ie6 lt-ie9 lt-ie8 lt-ie7">
/[if IE 7]
  | <html class="ie ie7 lt-ie9 lt-ie8">
/[if IE 8]
  | <html class="ie ie8 lt-ie9">
/[if IE 9]
  | <html class="ie ie9">
| <!-- [if (gte IE 9)|!(IE)]<!-->
html
  | <!-- <![endif] -->
  head
    title MOBI POLLS
    meta charset="UTF-8"
    meta name="viewport" content="width=device-width">
    meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"
    link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico"
    link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'
    link rel='stylesheet' href='css/app.css'
    script src='js/jquery-1.7.2.min.js'
    script src='js/app.js'

    /[if lt IE 9]<script src='js/html5.js'></script>
  body
    div.container
      header(id='navtop')
        a.logo.fleft href='#'
          img(src="img/logo.png")
        nav.fright
          ul
            li
              a.navactive(href='#') Home
            li
              a(href="#") About
          ul
            li
              a(href='#') Works
            li
              a(href='#') Services
          ul
            li
              a(href='#') Blog
            li
              a(href='#') Contact
      div.home-page.main
        section.grid-wrap
          header.grid.col-full
            hr
            p.fleft Home
            a.arrow.fright href='#' see more infos
          div.grid.col-one-half.mq2-col-full
            h1 Web Development
              br Graphic Design
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat. Sed quis velit. </p>
            p Vivamus pharetra posuere sapien. Nam consectetuer. Sed aliquam, nunc eget euismod ullamcorper, lectus nunc ullamcorper orci, fermentum bibendum enim nibh eget ipsum. </p>
          div.slider.grid.col-one-half.mq2-col-full
            div.flexslider
              div.slides
                div.slide
                  figure
                    img(alt="" src='img/img2.jpg')
                    figcaption
                      div
                        h5 Caption 1
                        p Lorem ipsum dolor set amet, lorem,
                         a(href="#") link text
                div.slide
                  figure
                    img(alt="" src="img/img.jpg")
                    figcaption
                      div
                        h5 Caption 2
                          p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
        section.services.grid-wrap
          header.grid.col-full
            hr
            p.fleft Services
            a.arrow.fright href='#' see more services
          article.grid.col-one-third.mq3-col-full
            aside 01
            h5 Web design
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim.
          article.grid.col-one-third.mq3-col-full
            aside 02
            h5 Web development
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim.
          article.grid.col-one-third.mq3-col-full
            aside 03
            h5 Graphic design
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim.

        section.works.grid-wrap
          header.grid.col-full
            hr
            p.fleft Works
            a.arrow.fright href="works.html" see more works
            figure.grid.col-one-quarter.mq2-col-one-half
              a href="work1.html"
                img(alt="" src="img/img.jpg")
                span.zoom
              figcaption
                a.arrow href="work1.html" Project page!
                p Lorem ipsum dolor set amet
            figure.grid.col-one-quarter.mq2-col-one-half
              a href="work1.html"
                img(alt="" src="img/img.jpg")
                span.zoom
              figcaption
                a.arrow href="work1.html" Project Y!
                p Lorem ipsum dolor set amet
            figure.grid.col-one-quarter.mq2-col-one-half
              a href="work1.html"
                img(alt="" src="img/img.jpg")
                span.zoom
              figcaption
                a.arrow href="work1.html" Project X!
                p Lorem ipsum dolor set amet

        == yield

    div.divide-top
      footer.grid-wrap
        ul.grid.col-one-third.social
          li
            a href="#" RSS
          li
            a href="#" Facebook
          li
            a href="#" Twitter
          li
            a href="#" Google+
          li
            a href="#" Flickr
        div.up.grid.col-one-third
          a(title="Go back up" href="#navtop")  &uarr;
        nav.grid.col-one-third
          ul
            li
              a(href="index.html") Home
            li
              a(href="about.html") About
            li
              a(href="works.html") Works
            li
              a(href="services.html") Services
            li
              a(href="blog.html") Blog
            li
              a(href="contact.html") Contact




  script src='js/jquery.flexslider-min.js'
  script src='js/scripts'



